<% include ./partials/header %>

<h1>Sign UP!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Submit</button>
</form>

<% include ./partials/footer %>
